################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vendor_Testing_Issue_Log/.vs/Vendor_Testing_Issue_Log/FileContentIndex/b34abb33-986e-4d41-a120-d0ffbac7e319.vsidx
