################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vendor_Testing_Issue_Log/.vs/Vendor_Testing_Issue_Log/FileContentIndex/b34abb33-986e-4d41-a120-d0ffbac7e319.vsidx
/Vendor_Testing_Issue_Log/.vs/Vendor_Testing_Issue_Log/FileContentIndex/d43d4c3d-015b-418e-8e93-af6291b1b10d.vsidx
*.vsidx
/Vendor_Testing_Issue_Log/.vs/Vendor_Testing_Issue_Log/FileContentIndex/01b5ed47-5b39-459c-83d6-ca50506a1aac.vsidx
